Node-Red Flow.json
[{"id":"edeb8da8.c6138","type":"mqtt in","z":"3af7c536.139faa","name":"","topic":"LIGHTSENSOR/values/#","qos":"0","datatype":"json","broker":"3ca313b8.542abc","x":330,"y":2060,"wires":[["1563fea3.4e72f1","2bc6bc3c.630884","e9e1b845.dd7ff8","da4274.987ffd9"]]},{"id":"7d5c545.65473ac","type":"debug","z":"3af7c536.139faa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":2100,"wires":[]},{"id":"85b848df.873208","type":"influxdb out","z":"3af7c536.139faa","influxdb":"7780c62b.7cb898","name":"Light","measurement":"stations","precision":"s","retentionPolicy":"","x":890,"y":2060,"wires":[]},{"id":"1563fea3.4e72f1","type":"function","z":"3af7c536.139faa","name":"Light","func":"\nif (msg.payload[\"SAT\"]) saturated=true\nelse saturated=false\n\nmsg.payload = [\n{\n    UV: msg.payload[\"UV\"],\n    IR: msg.payload[\"IR\"],\n    L: msg.payload[\"L\"],\n    LA: msg.payload[\"LA\"],\n    R: msg.payload[\"R\"],\n    G: msg.payload[\"G\"],\n    B: msg.payload[\"B\"],\n    CT: msg.payload[\"CT\"],\n    BAT: msg.payload[\"Bat\"]\n},{\n    name: \"Light1\"\n    \n}]\nglobal.set(\"Lux\",msg.payload[0].L);\n//global.set(\"Lux\",10000);\nnode.status({fill:\"green\",shape:\"ring\",text:msg.payload[0].L});\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":2060,"wires":[["7d5c545.65473ac","85b848df.873208"]]},{"id":"2bc6bc3c.630884","type":"debug","z":"3af7c536.139faa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":2240,"wires":[]},{"id":"ede4d86d.04ae08","type":"function","z":"3af7c536.139faa","name":"Create Message","func":"hi= msg.payload;\npayload={chatId:876235944,\ntype:\"message\",\ncontent: hi\n};\nreturn {payload};","outputs":1,"noerr":0,"x":920,"y":2160,"wires":[["5031238f.d453ec"]]},{"id":"5031238f.d453ec","type":"telegram sender","z":"3af7c536.139faa","name":"AwningBot","bot":"f181a11d.afdf1","x":1190,"y":2160,"wires":[[]]},{"id":"ac3eb4d9.74d4e8","type":"telegram sender","z":"3af7c536.139faa","name":"AwningBot","bot":"f181a11d.afdf1","x":1190,"y":2000,"wires":[[]]},{"id":"9f97df6e.0b97d","type":"function","z":"3af7c536.139faa","name":"Create Message","func":"payload={chatId:876235944,\ntype:\"message\",\ncontent: \"Battery low\"\n};\nreturn {payload};\n","outputs":1,"noerr":0,"x":920,"y":2000,"wires":[["ac3eb4d9.74d4e8"]]},{"id":"da4274.987ffd9","type":"switch","z":"3af7c536.139faa","name":"Battery low (3.2V)","property":"payload[\"Bat\"]","propertyType":"msg","rules":[{"t":"lte","v":"3.2","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":2000,"wires":[["9f97df6e.0b97d"]]},{"id":"e9e1b845.dd7ff8","type":"timeout","z":"3af7c536.139faa","name":"Lightsensor Timeout","outtopic":"alarm","outsafe":"","outwarning":"","outunsafe":"Lightsensor not working","warning":"1","timer":"3000","repeat":false,"again":true,"x":680,"y":2160,"wires":[["ede4d86d.04ae08"]]},{"id":"3ca313b8.542abc","type":"mqtt-broker","z":"","name":"Hub","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7780c62b.7cb898","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"Light","name":"Light","usetls":false,"tls":""},{"id":"f181a11d.afdf1","type":"telegram bot","z":"","botname":"sensorsIOT_AwningBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]